.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer{
  margin-top: 2.25rem;
}

.paymentSection{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.paymentSection > h2{
  font-weight: bolder;
  font-size: 1.5rem;
  color: #4D4D4D;
}

/* .triangle{
  width: 100%;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid white;
	border-bottom: 25px solid transparent;
} */

/*

.paymentOptionsContainerPixCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-top: 2rem;
}

.paymentOptionsPixCard{
  width: inherit;
  border: none;
}

.paymentOptionsPixCard > legend{
  margin-left: 26px;
  border: 1px solid transparent;
  background-color: #E5E5E5;
  border-radius: 100px;
  padding: 5px 13px 5px 13px;
  font-weight: bolder;
  font-size: 18px;
}

.optionPaymentPixCard{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  list-style: none;
  border: 1px solid #E5E5E5;
}

.optionPaymentPixCard:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.optionPaymentPixCard:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} */

/* .optionPaymentPixCard + input[type="radio"]:checked {
  color: white;
  border: 1px solid green;
} */