.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer{
  margin-top: 2.25rem;
}

.paymentSection{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.paymentSection > h2{
  font-weight: bolder;
  font-size: 1.5rem;
  color: #4D4D4D;
}

.paymentOptionsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-top: 2rem;
}

.paymentOptions{
  width: inherit;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

.paymentOptions:checked{
  border: 1px solid #03D69D;
}

.paymentOptions > legend{
  margin-left: 26px;
  border: 1px solid transparent;
  background-color: #E5E5E5;
  border-radius: 100px;
  padding: 5px 13px 5px 13px;
  font-weight: bolder;
  font-size: 18px;
}

.optionPayment{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.optionPayment > label{
  font-size: 24px;
}

.info{
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  margin-top: 1px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}

.info > span{
  font-size: 16px;
  line-height: 1.2;
}

.info-discount{
  color: #03D69D;
}

.info-value{
  background-color: #133A6F;
  color: white;
  border-radius: 5px;
  padding: 6px 0px 6px 10px;
}